body, html {
	height: 100%;
}

div {
	width: 100px;
	height: 100px;
	background-color: green;
	
	display: inline-block;	/* inline inline-block block none */
	overflow: scroll; /* visible hidden scroll */

	border: red 5px solid;
	margin: 10px;
	padding: 10px;
	/*
	border-color: red;
	border-width: 10px;
	border-style: solid; /* dash dotted double inset outset */
	*/
}
