div {
	width: 100px;
	height: 100px;
	padding: 10px;
	margin: 30px;
	background-color: orange;
	border: solid 2px orangered;

	/* border-radius: 50%; */
	/* border-radius: 10px 20px 30px 40px; */
	/* border-top-right-radius: 20px; */
	/* Background-image: url('http://lohas.nicoseiga.jp/thumb/903794i?'); */ 
	/* background-color: rgba(0, 0, 0, 0.7); */
	/* opacity: 0.3; */
	/*
	box-shadow: 10px 20px 5px rgba(0, 0, 0, 0.3) inset,
				5px 5px 5px #FF0000;
	text-shadow: 5px 5px 5px red;
	font-size: 24px;
	font-weight: bold;
	*/
	/* background: linear-gradient(red 10px, green 50px, blue); */
	/* background: linear-gradient(45deg, red 10px, green 50px, blue); */
	/* background: radial-gradient(circle, red 10px, green 50px, blue); */

	transition-property: all; 
	transition-duration: 1s;
	transition-timing-function: ease;   /* ease linear ease-in ease-out ease-inout */
	/* transition-delay: 2s; */
}

#div2:hover {
	height: 200px;
	background-color: red;

}
