<!DOCTYPE html>
<html lang="ja">
<head>
	<title>bbs</title>
	<meta caharset="utf-8">
</head>
<body>
	<form method="post">
		<input type="text" name="name">
		<input type="submit" value="Post!">
	</form>
	<ul>
		<% for (var i = 0; i < posts.length; i++) { %>
		<li><%= posts[i] %></li>
		<% } %>
	</ul>
</body>
</html>
